.card-header {
  background-color: rgba(0, 0, 0, 0.377) !important;
  font-size: xx-large !important;
}

.card img {
  height: 350px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .btn {
  background-color: var(--background-color) !important;
  border-color: var(--accent-color);
}

.card .btn:hover {
  border-color: var(--accent-color);
  background-color: var(--accent-color) !important;
}
